<ion-header>
    <ion-navbar>
        <ion-title>{{category}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="show = !show">
        <ion-icon [name]="show? 'grid': 'list-box'"></ion-icon>
      </button>
            <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar dark placeholder="Filtra los productos..." [(ngModel)]="myInput" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"
            color="primary" showCancelButton animated>
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="content-stock-detail">
    <ion-list *ngIf="show" class="card-page-list">
        <ion-card *ngFor="let product of products">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col col-3 justify-content-center>
                        <img src="http://www.cobopa.com/archivos/catalogo/2021-Napo-Gigante-Chocolate-375x325.gif">
                    </ion-col>
                    <ion-col col-9>
                        <ion-item>
                            <h2>{{product}}</h2>
                            <p>
                                <ion-icon name="cloud-download"></ion-icon> 25 feb 12:50
                            </p>
                            <p>
                                <ion-icon name="contacts"></ion-icon> Bolleria Pedrin S.L.
                            </p>
                            <ion-badge [color]="isFinished(0)? 'danger': 'secondary'" item-end>0</ion-badge>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>

    </ion-list>


    <ion-grid *ngIf="!show" class="card-page-grid" no-padding>
        <ion-row>
            <ion-col col-6 justify-content-center *ngFor="let product of products">
                <ion-card>
                    <img src="http://www.cobopa.com/archivos/catalogo/2021-Napo-Gigante-Chocolate-375x325.gif">
                    <ion-badge [color]="isFinished(27)? 'danger': 'secondary'" item-end>27</ion-badge>
                    <ion-item>
                        <h2>{{product}}</h2>
                        <p>
                            <ion-icon name="cloud-download"></ion-icon> 25 feb 12:50
                        </p>
                        <p>
                            <ion-icon name="contacts"></ion-icon> Bolleria Pedrin S.L.
                        </p>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>




    <ion-fab right bottom>
        <button ion-fab color="energized-bright"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>