page-about {
    .content-sales {
        ion-fab {
            margin-right: 3%;
        }
        .more {
            color: color($colors, secondary);
        }
        .less {
            color: color($colors, danger);
        }
    }
}
