page-categories-stock {

    .content-stock{
        background: color($colors, primary-alpha);

        .card-page-xxl {

            ion-card {
                position: relative;
                text-align: center;
            }

            .card-title {
                position: absolute;
                top: 36%;
                font-size: 2.0em;
                width: 100%;
                font-weight: bold;
                color: #fff;
            }

            .card-subtitle {
                font-size: 1.0em;
                position: absolute;
                top: 52%;
                width: 100%;
                color: #fff;
            }
        }


         .card-page-md {

            ion-card {
                position: relative;
                text-align: center;
                width: 100%;
                margin-top: -2%;
                margin-left: -0.25%;
            }

            .card-title {
                position: absolute;
                top: 30%;
                font-size: 2.0em;
                width: 100%;
                font-weight: bold;
                color: #fff;
            }

            .card-subtitle {
                font-size: 1.0em;
                position: absolute;
                top: 60%;
                width: 100%;
                color: #fff;
            }
        }

        ion-fab {
            ion-icon{
                 color: color($colors, primary);
            }

        }
    }
}
