<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stock</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="show = !show">
        <ion-icon [name]="show? 'grid': 'list-box'"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar dark placeholder="Filtra los productos..." [(ngModel)]="myInput" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"
      color="primary" showCancelButton animated>
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content class="content-stock">

  <ion-list (swipe)="swipeEvent($event)">
    <div class="card-page-xxl" *ngIf="show">
      <div *ngFor="let category of categories">
        <ion-card (click)="goToCategoryDetail(category)">
          <img src="https://images.pexels.com/photos/1240/road-street-blur-blurred.jpg?w=940&h=650&auto=compress&cs=tinysrgb " />
          <div class="card-title ">
            {{category}}
          </div>
          <div class="card-subtitle ">{{swipe}}</div>
        </ion-card>
      </div>
    </div>

    <ion-grid class="card-page-md" *ngIf="!show">
      <ion-row justify-content-center>
        <ion-col *ngFor="let category of categories; let i = index" col-6>
          <ion-card (click)="goToCategoryDetail(category)">
            <img src="https://images.pexels.com/photos/1240/road-street-blur-blurred.jpg?w=940&h=650&auto=compress&cs=tinysrgb " />
            <div class="card-title ">
              {{category}}
            </div>
            <div class="card-subtitle ">{{swipe}}</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>


  <ion-fab right bottom>
    <button ion-fab color="energized-bright"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>