page-new-sale {
    .form {
        margin-top: 3%;
        .card-title {
            position: absolute;
            font-size: 1.0em;
            width: 100%;
            font-weight: bold;
            }
        .concretProduct {
            margin-top: 10%;
        }
        .buttons {
            position: absolute;
        }
    }

}
